:root {
    --ButtonBG: #9e2a2b;
    --ButtonHoverBG: #540b0e;
}

header {
    background-color:  #e09f3e;
    height: 8vh;
    align-content: center;
    font-size: 4vh;
    color: #9e2a2b;
    border: 2px solid #540b0e;

    font-family: 'Courier New';
}

body {
    background-image: radial-gradient(#fff3b0, #e09f3e);
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

div {
    /*border: 1px solid red;*/
}

#timer {
    background-color: var(--ButtonBG);
    border: 1px solid var(--ButtonHoverBG);
    color: white;
}

#moves {
    background-color: var(--ButtonBG);
    border: 1px solid var(--ButtonHoverBG);
    color: white;
}

#start {
    background: #e09f3e;
    border: 2px solid #540b0e;
    color: #9e2a2b;
}

.grid {
    width: 35%;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;

    border: 2px solid #540b0e;
    border-radius: 5%;

    .row {
        margin-left: .5vh;
        margin-right: .5vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    button {
        width: 14vh;
        height: 14vh;
        font-size: 3vh;

        color: black;

        background-color: var(--ButtonBG);
    }
    button:hover {
        color: white;
        border: 2px solid black;
        background-color: var(--ButtonHoverBG);
    }
    
    .disabled {
        background-color: var(--ButtonBG);
        opacity: 1;
    }
}

.btn {
    width: 12vh;
    height: 6vh;

    font-size: 2.5vh;
}

@media (max-width: 1499px) {

    .grid {

        width: 50%;
        height: 80%;
        
        button {
            max-width: 12vh;
            max-height: 12vh;

            font-size: 3vh;
        }
    }
    .btn {
        font-size: 2vh;
    }
}

@media (max-width: 1199px) {

    .grid {

        width: 50%;
        height: 80%;
        
        button {
            max-width: 12vh;
            max-height: 12vh;

            font-size: 3vh;
        }
    }
    .btn {
        font-size: 2vh;
    }
}

@media (max-width: 991px) {

    .grid {

        width: 80%;
        height: 80%;
        
        button {
            max-width: 14vh;
            max-height: 14vh;

            font-size: 3vh;
        }
    }
    .btn {
        font-size: 2vh;
    }
}

@media (max-width: 767px) {

    .grid {

        width: 100%;
        height: 80%;
        
        button {
            max-width: 12vh;
            max-height: 12vh;

            font-size: 3vh;
        }
    }
    .btn {
        font-size: 2vh;
    }
}

@media (max-width: 575px) {

    .grid {

        width: 100%;
        height: 80%;
        
        button {
            max-width: 12vh;
            max-height: 12vh;

            border: 2px solid rgb(88, 88, 88);
            font-size: 3vh;
        }
    }
    .btn {
        font-size: 3vh;
    }
}