:root {
    --ButtonBG: #a3a3a3;
    --ButtonHoverBG: #686868;
}

header {
    margin-top: 3vh;
    font-size: 4vh;

    font-family: 'Courier New';
}

body {
    background-image: radial-gradient(rgb(255, 255, 255), rgb(114, 114, 114));
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

div {
    /*border: 1px solid red;*/
}

.grid {
    width: 30%;
    height: 30%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;

    border: 2px solid black;

    .row {
        margin-left: .5vh;
        margin-right: .5vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    button {
        width: 12vh;
        height: 12vh;

        color: black;

        background-color: var(--ButtonBG);
    }
    button:hover {
        color: white;
        border: 2px solid black;
        background-color: var(--ButtonHoverBG);
    }
    
    .disabled {
        background-color: var(--ButtonBG);
        opacity: 1;
    }
}

.btn {
    width: 12vh;
    height: 6vh;
}

@media (max-width: 1500px) {

    .grid {

        width: 40%;
        height: 100%;
        
        button {
            max-width: 12vh;
            max-height: 12vh;

            font-size: 3vh;
        }
    }
    .btn {
        font-size: 2vh;
    }
}

@media (max-width: 1200px) {

    .grid {

        width: 50%;
        height: 100%;
        
        button {
            max-width: 12vh;
            max-height: 12vh;

            font-size: 3vh;
        }
    }
    .btn {
        font-size: 2vh;
    }
}

@media (max-width: 1000px) {

    .grid {

        width: 50%;
        height: 100%;
        
        button {
            max-width: 9vh;
            max-height: 9vh;

            font-size: 3vh;
        }
    }
    .btn {
        font-size: 2vh;
    }
}

@media (max-width: 700px) {

    .grid {

        width: 60%;
        height: 100%;
        
        button {
            max-width: 8vh;
            max-height: 8vh;

            font-size: 3vh;
        }
    }
    .btn {
        font-size: 2vh;
    }
}

@media (max-width: 500px) {

    .grid {

        width: 90%;
        height: 100%;
        
        button {
            max-width: 8vh;
            max-height: 8vh;

            font-size: 3vh;
        }
    }
    .btn {
        font-size: 2vh;
    }
}

@media (max-width: 300px) {

    .grid {

        width: 90%;
        height: 100%;
        
        button {
            max-width: 5vh;
            max-height: 5vh;

            font-size: 2vh;
        }
    }
    .btn {
        font-size: 2vh;
    }
}